.foot
{
    width: flex;
    height: 400px;
    
    margin-top: 0px;
    background-color:#4267b2;
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.foot h3
{
    color: yellow;
}
.foot h2{
    color: white;
}
.foot > .row
{
    display: flex;
    justify-content: space-around;
    
}
.foot > .row span{
    background-color: azure;
    width: 112px;
    height: 112px;
    display :inline-block;
    border-radius: 80px;
    font-size: 36px;
     line-height: 120px;
     

}